.logo {
    width: min(25vw, 450px);
    min-width: 200px;
    max-width: 50vw;
    display: block;
    margin: auto;
}

@media (max-width: 1366px) {
    .logo {
        width: min(41vw, 410px);
        content:url(logo1.png)
    }
}

@media (max-width: 720px) {
    .logo {
        content: url(logo.png);
        width: min(70%, 280px);
        min-width: 190px;
        max-width: 35%;
    }
}
